<%# Edit Memo Modal %>
<div class="modal fade" id="editMemo_modal" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <form class="modal-content" id="editMemo_form">
      <div class="modal-header">
        <h4 class="modal-title">Edit MOA/MOU</h4>
        <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
          
        <%# Form Group Loader %>
        <div id="editMemo_formGroups_loader">
          <div class="form-group">
            <div class="skeleton text" style="width: 8rem"></div>
            <div class="skeleton input"></div>
          </div>
          <div class="form-group">
            <div class="skeleton text" style="width: 8rem"></div>
            <div class="skeleton input"></div>
            <div class="skeleton input"></div>
          </div>
          <div class="form-group">
            <div class="p-3 my-5"></div>
          </div>
        </div>

        <%# Form Groups %>
        <div class="row" id="editMemo_formGroups" style="display: none">

          <%# Partner Name %>
          <div class="col-12">
            <div class="form-group">
              <label for="editMemo_partnerName">
                <span>Name of Partner</span>
                <span class="text-danger">*</span>
              </label>
              <input 
                type="text" 
                class="form-control text-uppercase" 
                id="editMemo_partnerName" 
                name="name"
                placeholder="Enter the partnership name here"
                disabled
                readonly
              />
            </div>
          </div>
  
          <%# Partner Address %>
          <div class="col-12">
            <div class="form-group">
              <label for="editMemo_partnerAddress">
                <span>Partner Address</span>
                <span class="text-danger">*</span>
              </label>
              <input 
                type="text" 
                class="form-control" 
                id="editMemo_partnerAddress" 
                name="address"
                placeholder="Enter the partner address here"
                disabled
                readonly
              />
            </div>
          </div>
  
          <%# Partner Representative Name %>
          <div class="col-12">
            <div class="form-group">
              <label for="editMemo_partnerRepresentative">
                <span>Name of Representative</span>
                <span class="text-danger">*</span>
              </label>
              <input 
                type="text" 
                class="form-control" 
                id="editMemo_partnerRepresentative" 
                name="representative"
                placeholder="Enter the partnership representative name here"
              />
            </div>
          </div>
  
          <%# PUP REPD Representative %>
          <div class="col-12">
            <div class="form-group">
              <label for="editMemo_pupREPD">
                <span>Name of PUP REPD Representative</span>
                <span class="text-danger">*</span>
              </label>
              <input 
                type="text" 
                class="form-control" 
                id="editMemo_pupREPD" 
                name="pup_REPD"
                placeholder="Enter the PUP REPD representative here"
              />
            </div>
          </div>
  
          <%# Branch/Campus / Organization %>
          <div class="col-12">
            <div class="form-group" id="editMemo_organization_grp">
              <label for="editMemo_organization">
                <span>Branch/Campus</span>
                <span class="text-danger">*</span>
              </label>
  
              <div class="form-group">
                <div class="d-flex">
                  <div class="flex-grow-1 mr-1">
                    <select 
                      name="organization" 
                      id="editMemo_organization" 
                      class="form-control select2"
                      style="width: 100%;"
                    >
                      <option disabled>No organizations yet.</option>
                    </select>
                  </div>
                  <div>
                    <button 
                      class="btn btn-primary" 
                      type="button"
                      data-toggle="tooltip"
                      title="Add organization"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <%# Notary Signed Date %>
          <div class="col-12">
            <div class="form-group">
              <label for="editMemo_notarySignedDate">
                <span>Notary Signed Date</span>
                <span class="text-danger">*</span>
              </label>
              <div class="input-group date">
                <input 
                  type="text" 
                  class="form-control" 
                  id="editMemo_notarySignedDate" 
                  name="notary_date"
                  placeholder="Please select notary signed date" 
                  data-inputmask-alias="datetime"
                  data-inputmask-inputformat="yyyy-mm-dd" 
                  data-mask 
                />
                <div class="input-group-append">
                  <button 
                    type="button" 
                    class="btn btn-primary" 
                    id="editMemo_notarySignedDate_pickerBtn"
                    data-toggle="tooltip" 
                    title="Select notary signed date"
                  >
                    <i class="fa fa-calendar-day fa-fw"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <%# Witnesses %>
          <div class="col-12">
            <div class="form-group" data-form="witnesses">
              <label>
                <span>Witnesses</span>
                <span class="small">(Name is the only required)</span>
                <span class="text-danger">*</span>
              </label>
            </div>
          </div>
  
          <%# Effective on/Validity Date %>
          <div class="col-md-6">
            <div class="form-group">
              <label for="editMemo_validityDate">
                <span>Effective on</span>
                <span class="text-danger">*</span>
              </label>
              <div class="input-group date">
                <input 
                  type="text" 
                  class="form-control" 
                  id="editMemo_validityDate" 
                  name="validity_date"
                  placeholder="Please select effectivity date" 
                  data-inputmask-alias="datetime"
                  data-inputmask-inputformat="yyyy-mm-dd" 
                  data-mask 
                />
                <div class="input-group-append">
                  <button 
                    type="button" 
                    class="btn btn-primary" 
                    id="editMemo_validityDate_pickerBtn"
                    data-toggle="tooltip" 
                    title="Select effectivity date"
                  >
                    <i class="fa fa-calendar-day fa-fw"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <%# Duration %>
          <div class="col-md-6">
            <div class="form-group">
              <label for="editMemo_duration">
                <span>Duration</span>
                <span class="small">(in years)</span>
                <span class="text-danger">*</span>
              </label>
              <input 
                type="number" 
                class="form-control" 
                id="editMemo_duration" 
                name="duration"
                placeholder="Enter the duration here"
              />
            </div>
          </div>

          <%# Valid Until %>
          <div class="col-12">
            <div class="form-group">
              <span class="font-weight-bold">Valid until: </span>
              <span id="editMemo_validUntil">
                <span class="font-italic text-muted">Please select an effectivity date and duration.</span>
              </span>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-negative" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submitMemo_btn">Submit</button>
      </div>
    </form>
  </div>
</div>
