<!-- Footer -->
<footer class="main-footer text-center">
  <b>Copyright &copy; 2022 <a href="/sample">PUPQC-EPMS</a>.</b>
  <span>All rights reserved.</span>
  <div class="float-right d-none d-sm-inline-block">v 0.0.1</div>
</footer>