<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">

  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">

    <!-- Expand -->
    <li class="nav-item">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>

    <!-- User Dropdown -->
    <li class="nav-item dropdown">
      <a href="" class="nav-link" data-toggle="dropdown" role="button">
        <i class="fas fa-user-circle"></i>
      </a>

      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-1">

        <div class="user-dropdown d-flex align-items-center p-3">
          <img class="img-circle" src="/static/adminlte/img/user1-128x128.jpg" style="max-height: 3.5rem; max-width: 3.5rem;"
            alt="User Avatar">
          <div class="mt-2 ml-2">
            <div class="font-weight-bold h5 m-0"><%= name %></div>
            <div class="text-secondary small"><%= role %> </div>
          </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="dropdown-header">Account Settings</div>

        <a href="" class="dropdown-item d-flex align-items-center">
          <div class="nav-icon">
            <div class="d-flex align-items-center justify-content-center bg-secondary rounded-circle mr-2"
              style="height: 2.5rem; width: 2.5rem">
              <i class="fas fa-user m-0" style="font-size: 17.5px"></i>
            </div>
          </div>
          <div>
            <div class="text-wrap font-weight-bold" style="line-height: 1.25">Profile</div>
            <div class="small">View and manage your profile</div>
          </div>
        </a>
        <a href="" class="dropdown-item d-flex align-items-center">
          <div class="nav-icon">
            <div class="d-flex align-items-center justify-content-center bg-secondary rounded-circle mr-2"
              style="height: 2.5rem; width: 2.5rem">
              <i class="fas fa-cog m-0" style="font-size: 17.5px"></i>
            </div>
          </div>
          <div>
            <div class="text-wrap font-weight-bold" style="line-height: 1.25">Settings</div>
            <div class="small">Configure and edit your settings</div>
          </div>
        </a>

        <div class="dropdown-divider"></div>

        <div class="dropdown-header">Session</div>

        <a href="" role="button" class="dropdown-item d-flex align-items-center" data-toggle="modal"
          data-target="#logoutModal">
          <div class="nav-icon">
            <div class="d-flex align-items-center justify-content-center bg-secondary rounded-circle mr-2"
              style="height: 2.5rem; width: 2.5rem">
              <i class="fas fa-sign-out-alt m-0" style="font-size: 17.5px"></i>
            </div>
          </div>
          <div>
            <div class="text-wrap font-weight-bold" style="line-height: 1.25">Log out</div>
            <div class="small">End your session</div>
          </div>
        </a>
      </div>
    </li>
  </ul>
</nav>