<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- RENDER META TAGS -->
  <%- meta %>
  <!-- END META TAGS -->
  
  <!-- RENDER STYLESHEETS -->
  <%- style %>  
  <!-- END STYLESHEETS -->

  <title>Extension Project</title>
</head>
<body>

  <!-- RENDER PAGE CONTENT -->
  <%- body %>
  <!-- END PAGE CONTENT -->

  <!-- RENDER SCRIPT FILES -->
  <%- script %> 
  <!-- END SCRIPT FILES -->
</body>
</html>