<style>
  *{
    margin: 0;
    box-sizing: border-box;
  }

  .jumbo{
    height: 40vh;
    width: 100vw;
    background-color: ivory;
    padding: 2em 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title{
    font-size: 2.5rem;
    font-weight: 650;
  }

  .description{
    font-size: 1rem;
  }
</style>

<main>
  <div class="jumbo">
    <div class="title">Hello from Express-EJS</div>
    <div class="description">
      This is a page content inside a layout file.
    </div>
  </div>
</main>

<script>
  console.info('Check source code.')
</script>