<%# Comments %>
<div class="card">
  <div class="card-header">
    <div class="card-title">Comments</div>
  </div>
  <div class="card-body" id="projectComments_grp">
    
    <div class="d-flex mb-3" id="projectComment_addComment_grp">
      <div class="user-block mr-3">
        <div class="d-inline-block bg-light border rounded-circle" style="width: 34px; height: 34px"></div>
        <!-- <img class="img-circle" src="../../dist/img/user1-128x128.jpg" alt="user image"> -->
      </div>
      <div class="flex-grow-1">
        <textarea 
          class="form-control" 
          name="" 
          id="" 
          cols="30" 
          rows="3" 
          placeholder="Add a comment here ..."
          data-autoresize
        ></textarea>
      </div>
    </div>
  </div>
</div>
