<%# Timeline Loader %>

<%# Timeline %>
<div class="timeline pb-3" id="timeline" style="display: none">
  <div class="time-label font-weight-light" id="timeline_title">
    <span class="bg-primary">History Logs</span>
  </div>
  <div>
    <i class="fas fa-clock bg-gray"></i>
  </div>
</div>