<%# Timeline Loader %>

<%# Timeline %>
<div class="timeline pb-3" id="timeline" style="display: none">
  <div class="time-label" id="timeline_title">
    <div class="d-flex justify-content-between">
      <span class="bg-primary px-2 py-1 rounded">History Logs</span>
      <!-- <button class="btn btn-sm btn-negative" data-toggle="tooltip" title="View full timeline">
        <i class="fas fa-timeline"></i>
      </button> -->
    </div>
  </div>
  <div>
    <i class="fas fa-clock bg-gray"></i>
  </div>
</div>