<%# Project Details Body Loader %>
<div class="card" id="projectDetails_body_loader">
  <div class="card-body">
    <div class="skeleton h4" style="width: 50%"></div>
    <div class="skeleton text" style="width: 25%"></div>
    <div class="py-3"></div>
    <div class="skeleton text" style="width: 30%"></div>
    <div class="skeleton text" style="width: 25%"></div>
    <div class="skeleton p"></div>
    <div class="py-3"></div>
    <div class="skeleton text" style="width: 30%"></div>
    <div class="skeleton text" style="width: 25%"></div>
    <div class="skeleton p"></div>
    <div class="my-5 py-5"></div>
  </div>
</div>

<%# Project Details Body %>
<div class="card" id="projectDetails_body" style="display: none">
  <div class="card-body">

    <%# Tab Content %>
    <div class="tab-content" id="custom-content-below-tabContent">

      <%# Summary Pane %>
      <div class="tab-pane fade show active" id="custom-content-below-summary" role="tabpanel"
        aria-labelledby="custom-content-below-summary-tab">
        <div class="tab-pane fade show active" id="summaryDetailsPane" role="tabpanel"
          aria-labelledby="summaryDetailsTab">
          <h4 class="mb-3">Project Summary</h4>

          <dl class="row">

            <div class="col-12">
              <hr class="mt-0 mb-2">
            </div>

            <%# Title %>
            <dt class="col-md-3">
              <div class="mx-2">Title</div>
            </dt>
            <dd class="col-md-9">
              <div class="mx-2" id="projectDetails_body_title"></div>
            </dd>

            <div class="col-12">
              <hr class="my-2">
            </div>

            <%# Implementer %>
            <dt class="col-md-3">
              <div class="mx-2">Implementer</div>
            </dt>
            <dd class="col-md-9">
              <div class="mx-2" id="projectDetails_body_implementer"></div>
            </dd>

            <div class="col-12">
              <hr class="my-2">
            </div>

            <%# Project Team %>
            <dt class="col-md-3">
              <div class="mx-2">Project Team</div>
            </dt>
            <dd class="col-md-9">
              <div class="mx-2" id="projectDetails_body_projectTeam"></div>
            </dd>

            <div class="col-12">
              <hr class="my-2">
            </div>

            <%# Target Groups %>
            <dt class="col-md-3">
              <div class="mx-2">Target Group(s)</div>
            </dt>
            <dd class="col-md-9">
              <div class="mx-2" id="projectDetails_body_targetGroups"></div>
            </dd>

            <div class="col-12">
              <hr class="my-2">
            </div>

            <%# Cooperating Agencies %>
            <dt class="col-md-3">
              <div class="mx-2">Cooperating Agency(ies)</div>
            </dt>
            <dd class="col-md-9">
              <div class="mx-2" id="projectDetails_body_cooperatingAgencies"></div>
            </dd>

            <div class="col-12">
              <hr class="my-2">
            </div>

            <%# Time Frame %>
            <dt class="col-md-3">
              <div class="mx-2">Time Frame</div>
            </dt>
            <dd class="col-md-9">
              <div class="mx-2" id="projectDetails_body_timeFrame"></div>
            </dd>

            <div class="col-12">
              <hr class="my-2">
            </div>

            <%# Impact Statement %>
            <dt class="col-md-3">
              <div class="mx-2">Impact Statement</div>
            </dt>
            <dd class="col-md-9">
              <div class="mx-2" id="projectDetails_body_impactStatement"></div>
            </dd>

            <div class="col-12">
              <hr class="my-2">
            </div>

            <%# Summary %>
            <dt class="col-md-3">
              <div class="mx-2">Summary</div>
            </dt>
            <dd class="col-md-9">
              <div class="mx-2" id="projectDetails_body_summary"></div>
            </dd>

            <div class="col-12">
              <hr class="my-2">
            </div>
          </dl>
        </div>
      </div>

      <%# Financial Requirements Pane %>
      <div class="tab-pane fade show" id="custom-content-below-financial" role="tabpanel"
        aria-labelledby="custom-content-below-financial-tab">

        <h4 class="mb-3">Financial Requirements</h4>

        <div class="table-responsive">
          <table id="financialRequirementsDT" class="table table-bordered w-100" width="100"
            cellspacing="0">
            <thead class="text-center">
              <tr>
                <th class="align-middle" style="width: 35%;">Budget Item</th>
                <th class="align-middle" style="width: 35%;">Particulars</th>
                <th class="align-middle" style="width: 10%;">Quantity / Pieces</th>
                <th class="align-middle" style="width: 10%;">Estimated Cost<span class="small"> (per qty / pcs)</span></th>
                <th class="align-middle" style="width: 10%;">Amount</th>
              </tr>
            </thead>
            <tbody id="projectDetails_body_financialRequirements">
              <tr>
                <td colspan="5">
                  <div class="p-5 my-5">
                    <div class="spinner-grow text-primary mb-2"></div>
                    <div>Loading ... Please wait.</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <%# Evaluation Plan Pane %>
      <div class="tab-pane fade" id="custom-content-below-evaluation" role="tabpanel"
        aria-labelledby="custom-content-below-evaluation-tab">

        <h4 class="mb-3">Evaluation Plan</h4>

        <div class="table-responsive">
          <table id="evaluationPlanDT" class="table table-bordered w-100" width="100"
            cellspacing="0">
            <thead class="text-center">
              <tr>
                <th class="align-middle" style="width: 30%">Outcome</th>
                <th class="align-middle" style="width: 30%">Indicator</th>
                <th class="align-middle" style="width: 20%">Data Collection Method</th>
                <th class="align-middle" style="width: 20%">Frequency</th>
              </tr>
            </thead>
            <tbody id="projectDetails_body_evaluationPlans">
              <tr>
                <td colspan="4">
                  <div class="p-5 my-5">
                    <div class="spinner-grow text-primary mb-2"></div>
                    <div>Loading ... Please wait.</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>