<%# Project Details Body Loader %>
<div class="card" id="projectDetails_body_loader">
  <div class="card-body">
    <div class="skeleton h4" style="width: 50%"></div>
    <div class="skeleton text" style="width: 25%"></div>
    <div class="py-3"></div>
    <div class="skeleton text" style="width: 30%"></div>
    <div class="skeleton text" style="width: 25%"></div>
    <div class="skeleton p"></div>
    <div class="py-3"></div>
    <div class="skeleton text" style="width: 30%"></div>
    <div class="skeleton text" style="width: 25%"></div>
    <div class="skeleton p"></div>
    <div class="my-5 py-5"></div>
  </div>
</div>

<%# Project Details Body %>
<%# Tab Content %>
<div class="tab-content" id="projectDetails_body" style="display: none">

  <%# Summary Pane %>
  <div 
    class="tab-pane fade show active" 
    id="projectDetails_summary_pane" 
    role="tabpanel"
    aria-labelledby="projectDetails_summary_tab"
  >
    <div class="card">
      <div class="card-body">
        <h4 class="mb-3">Project Summary</h4>

        <dl class="row">

          <div class="col-12">
            <hr class="mt-0 mb-2">
          </div>

          <%# Title %>
          <dt class="col-md-3">
            <div class="mx-2">Title</div>
          </dt>
          <dd class="col-md-9">
            <div class="mx-2" id="projectDetails_body_title"></div>
          </dd>

          <div class="col-12">
            <hr class="my-2">
          </div>

          <%# Implementer %>
          <dt class="col-md-3">
            <div class="mx-2">Implementer</div>
          </dt>
          <dd class="col-md-9">
            <div class="mx-2" id="projectDetails_body_implementer"></div>
          </dd>

          <div class="col-12">
            <hr class="my-2">
          </div>

          <%# Project Team %>
          <dt class="col-md-3">
            <div class="mx-2">Project Team</div>
          </dt>
          <dd class="col-md-9">
            <div class="mx-2" id="projectDetails_body_projectTeam"></div>
          </dd>

          <div class="col-12">
            <hr class="my-2">
          </div>

          <%# Target Groups %>
          <dt class="col-md-3">
            <div class="mx-2">Target Group(s)</div>
          </dt>
          <dd class="col-md-9">
            <div class="mx-2" id="projectDetails_body_targetGroups"></div>
          </dd>

          <div class="col-12">
            <hr class="my-2">
          </div>

          <%# Cooperating Agencies %>
          <dt class="col-md-3">
            <div class="mx-2">Cooperating Agency(ies)</div>
          </dt>
          <dd class="col-md-9">
            <div class="mx-2" id="projectDetails_body_cooperatingAgencies"></div>
          </dd>

          <div class="col-12">
            <hr class="my-2">
          </div>

          <%# Time Frame %>
          <dt class="col-md-3">
            <div class="mx-2">Time Frame</div>
          </dt>
          <dd class="col-md-9">
            <div class="mx-2" id="projectDetails_body_timeFrame"></div>
          </dd>

          <div class="col-12">
            <hr class="my-2">
          </div>

          <%# Impact Statement %>
          <dt class="col-md-3">
            <div class="mx-2">Impact Statement</div>
          </dt>
          <dd class="col-md-9">
            <div class="mx-2" id="projectDetails_body_impactStatement"></div>
          </dd>

          <div class="col-12">
            <hr class="my-2">
          </div>

          <%# Summary %>
          <dt class="col-md-3">
            <div class="mx-2">Summary</div>
          </dt>
          <dd class="col-md-9">
            <div class="mx-2" id="projectDetails_body_summary"></div>
          </dd>

          <div class="col-12">
            <hr class="my-2">
          </div>
        </dl>
      </div>
    </div>
  </div>

  <%# Financial Requirements Pane %>
  <div 
    class="tab-pane fade show" 
    id="projectDetails_financial_pane" 
    role="tabpanel"
    aria-labelledby="projectDetails_financial_tab"
  >
    <div class="card">
      <div class="card-body">
        <h4 class="mb-3">Financial Requirements</h4>

        <div class="table-responsive">
          <table id="financialRequirementsDT" class="table table-bordered w-100" width="100"
            cellspacing="0">
            <thead>
              <th class="align-middle" style="width: 35%;">Budget Item</th>
              <th class="align-middle" style="width: 35%;">Particulars</th>
              <th class="align-middle text-right" style="width: 10%;">Quantity / Pieces</th>
              <th class="align-middle text-right" style="width: 10%;">Estimated Cost<span class="small"> (per qty / pcs)</span></th>
              <th class="align-middle text-right" style="width: 10%;">Amount</th>
            </thead>
            <tbody id="projectDetails_body_financialRequirements">
              <tr>
                <td colspan="5">
                  <%- include('../loaders/dt_body') %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%# Evaluation Plan Pane %>
  <div 
    class="tab-pane fade" 
    id="projectDetails_evaluationPlan_pane" 
    role="tabpanel"
    aria-labelledby="projectDetails_evaluationPlan_tab"
  >
    <div class="card">
      <div class="card-body">
        <h4 class="mb-3">Evaluation Plan</h4>

        <div class="table-responsive">
          <table id="evaluationPlanDT" class="table table-bordered w-100" width="100"
            cellspacing="0">
            <thead>
              <tr>
                <th class="align-middle" style="width: 30%">Outcome</th>
                <th class="align-middle" style="width: 30%">Indicator</th>
                <th class="align-middle" style="width: 20%">Data Collection Method</th>
                <th class="align-middle" style="width: 20%">Frequency</th>
              </tr>
            </thead>
            <tbody id="projectDetails_body_evaluationPlans">
              <tr>
                <td colspan="4">
                  <%- include('../loaders/dt_body') %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%# Documents Pane %>
  <div 
    class="tab-pane fade" 
    id="projectDetails_documents_pane" 
    role="tabpanel"
    aria-labelledby="projectDetails_documents_tab"
  >
    <div class="card">
      
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          <h3 class="card-title">List of Documents</h3>
          <div class="card-tools">
            <button 
              type="button" 
              class="btn btn-sm btn-negative" 
              data-card-widget="maximize"
              data-toggle="tooltip"
              title="Maximize/minimize card"
            >
              <i class="fas fa-expand"></i>
            </button>
            <button 
              type="button" 
              class="btn btn-sm btn-negative" 
              data-toggle="tooltip"
              title="Reload table"
              onclick="ProjectDocuments.reloadDataTable()"
            >
              <i class="fas fa-sync-alt"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="d-flex mb-3">
          <h4 class="mb-3 flex-grow-1">Upload your documents</h4>
          
          <% if (JSON.parse(JSON.stringify(roles)).includes('Extensionist')) { %>
            <div class="text-right">
              <button class="btn btn-info" data-toggle="modal" data-target="#uploadDocuments_modal">
                <i class="fas fa-upload mr-1"></i>
                <span>Upload</span>
              </button>
            </div>
          <% } %>  
        
        </div>

        <div class="table-responsive">
          <table class="table w-100" id="uploadedDocuments_dt">
            <thead>
              <th class="align-middle sr-only">Date created</th>
              <th class="align-middle" width="45%">Name</th>
              <th class="align-middle">Type</th>
              <th class="align-middle" width="25%">Date added</th>
              <th class="align-middle" width="8%">
                <div class="sr-only">Options</div>
              </th>
            </thead>
            <tbody>
              <tr>
                <td colspan="5" class="text-center">
                  <%- include('../../partials/loaders/dt_body') %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <%# Evaluation Summary Pane %>
  <div 
    class="tab-pane fade" 
    id="projectDetails_evaluationSummary_pane" 
    role="tabpanel"
    aria-labelledby="projectDetails_evaluationSummary_tab"
  >
    <div class="card">
      <div class="card-body">
        <h4 class="mb-3">Summary of Project Evaluation</h4>

        <%# Date of Presentation %>
        <div class="row mb-3">
          <div class="col-3">
            <div class="font-weight-bold">Date of Presentation</div>
          </div>
          <div class="col-9" id="projectDetails_body_presentationDate"></div>
        </div>

        <%# Date of Evaluation %>
        <div class="row mb-3">
          <div class="col-3">
            <div class="font-weight-bold">Date of Evaluation</div>
          </div>
          <div class="col-9" id="projectDetails_body_evaluationDate"></div>
        </div>

        <%# Evaluation Summary %>
        <div class="table-responsive">
          <table 
            id="evaluationSummaryDT" 
            class="table table-bordered w-100" 
            width="100"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th class="align-middle" style="width: 70%">Evaluator</th>
                <th class="align-middle text-right" style="width: 15%">Total Points</th>
                <th class="align-middle text-center" style="width: 15%">Remarks</th>
              </tr>
            </thead>
            <tbody id="projectDetails_body_evaluationSummary">
              <tr>
                <td colspan="3">
                  <%- include('../loaders/dt_body') %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>