<%# ***** Body ***** %>

<div class="login-box w-75">
  <div class="user-select-none">
    <div class="d-flex flex-column align-items-center justify-content-center mt-5">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6 d-flex justify-content-center">
          <img class="w-100" src="<%=BASE_URL%>/img/app/load_error.svg" alt="Maintenance" draggable="false">
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <h3 class="d-inline-block text-nowrap">Oww snap!</h3>
      <h3 class="d-inline-block text-nowrap">Something went wrong</h3>
      <p>Don't worry, it is not your fault. You can try again by reloading this page.</p>
      <button type="button" class="btn btn-primary" onclick="location.reload()">Reload the page</button>
    </div>
  </div>
</div>


<%# ***** Script ***** %>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>