<%# Content Loader %>
<div class="card card-outline card-primary" id="content_loader">
  <div class="card-body">
    <div class="skeleton h4" style="width: 50%"></div>
    <div class="skeleton text" style="width: 25%"></div>
    <div class="py-3"></div>
    <div class="skeleton text" style="width: 30%"></div>
    <div class="skeleton text" style="width: 25%"></div>
    <div class="skeleton p"></div>
    <div class="py-3"></div>
    <div class="skeleton text" style="width: 30%"></div>
    <div class="skeleton text" style="width: 25%"></div>
    <div class="skeleton p"></div>
    <div class="my-5 py-5"></div>
  </div>
</div>