<%# Options Loader %>
<div class="card" id="options_loader">
  <div class="card-header">
    <div class="skeleton text my-1" style="width: 5rem ;height: 1rem"></div>
  </div>
  <div class="card-body">
    <div class="skeleton text" style="width: 5rem"></div>
    <div class="skeleton btn btn-block"></div>
    <div class="skeleton btn btn-block"></div>
    <div class="py-5"></div>
  </div>
</div>