<%# Content Header (Page header) %>
<div class="content-header">
  <div class="container-fluid">

    <%# Breadcrumb %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%=BASE_URL%>/p">Monitoring</a>
      </li>
      <li class="breadcrumb-item active">Project Details</li>
    </ol>
    
    <%# Title %>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1 class="m-0">Project Details</h1>
      </div>
      <div>
        <button type="button" class="btn btn-default float-right" id="daterange-btn">
          <i class="far fa-calendar-alt mr-1"></i>
          <span>Date Range Picker</span>
          <i class="fas fa-caret-down ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<%# Main Content %>
<main class="content">
  <div class="container-fluid">
  
  </div>
</main>

<%# Scripts %>
<script>
  console.info('Check source code.')
</script>