<%# Footer %>
<footer class="main-footer">
  <a class="font-weight-bold" href="<%=BASE_URL%>/about">PUPQC - Extension Project Management System</a>
  <div class="float-right d-none d-sm-inline-block">v0.1.0</div>
</footer>