<%# Footer %>
<footer class="main-footer">
  <b>Copyright &copy; 2022-2023 <a href="#">PUPQC-EPMS</a>.</b>
  <span>All rights reserved.</span>
  <div class="float-right d-none d-sm-inline-block">v0.0.1</div>
</footer>