<div class="user-select-none py-5">
  <div class="row align-items-center justify-content-center">
    <div class="col-11 col-md-6 d-flex justify-content-center">
      <img class="w-75" src="<%=BASE_URL%>/img/app/maintenance.svg" alt="Maintenance" draggable="false">
    </div>
  </div>
  <div class="text-center mt-4 px-2">
    <h3>Hey! This content is under maintenance</h3>
    <p>This will take a while but will back ASAP.</p>
  </div>
</div>