<div class="user-select-none">
  <div class="d-flex flex-column align-items-center justify-content-center mt-5">
    <img src="<%=BASE_URL%>/img/maintenance.svg" alt="Maintenance" width="50%" draggable="false">
  </div>
  <div class="text-center mt-5">
    <h3>Hey! This page is under maintenance</h3>
    <p>This will take a while but will back ASAP.</p>
  </div>
</div>