<%# If javascript was disabled %>
<noscript>
  <div class="preloader flex-column justify-content-center align-items-center user-select-none bg-white">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 d-flex justify-content-center">
        <img 
          class="w-75" 
          src="<%=BASE_URL%>/img/app/no_js.svg" 
          alt="No Javascript" 
          draggable="false"
        />
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6">
        <div class="text-center px-5 mt-5">
          <h3 class="text-nowrap">Hey, JavaScript was disabled.</h3>
          <div class="mb-2">We noticed that JavaScript for this site was disabled. Please do enable it by checking your browser's settings or unblocking the site from your block list.</div>
          <div>Thank you and have a good day!</div>
        </div>
      </div>
    </div>
  </div>
</noscript>