<%# Brand Logo %>
<div class="brand-link">
  <img 
    src="<%=BASE_URL%>/img/PUPLogo.png" 
    class="brand-image img-circle bg-light border" 
    style="opacity: .8; width: 24px; height: 24px"
  />
  <span class="brand-text">PUPQC-EPMS</span>
</div>