<%# Sidebar user panel %>
<div class="user-panel mt-3 pb-2 mb-3 d-flex">

  <%# User image %>
  <div class="image">
    <div class="d-inline-block bg-light border rounded-circle" style="width: 34px; height: 34px"></div>
    <!-- <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
  </div>

  <%# User info %>
  <div class="info">
    <a href="<%=BASE_URL%>/profile" class="d-block font-weight-bold"><%= name %></a>
    <div>
      <span class="text-success">&#9679;</span>
      <span class="text-secondary small"><%= role %></span>
    </div>
  </div>
</div>