<%# ***** Body ***** %>

<%# Content Header %>
<div class="content-header">
  <div class="container-fluid">
    
    <%# Breadcrumb %>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%=BASE_URL%>/m">MOA/MOU</a>
      </li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    
    <%# Title %>
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h1 class="m-0">Dashboard</h1>
        <div class="text-secondary">View reports and manage activities here</div>
      </div>
    </div>
  </div>
</div>

<%# Main Content %>
<main class="content">
  <div class="container-fluid">
  
    <%- include('../../partials/maintenance') %>

  </div>
</main>


<%# ***** Scripts ***** %>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>