<%# Confirm Approve the Project Modal %>
<div class="modal fade" id="confirmApproveTheProject_modal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <form class="modal-content" id="approveProject_form">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">

        <div class="text-center">
          <h1 class="mr-3 display-3">
            <i class="fas fa-exclamation-circle text-info"></i>
          </h1>
          <p class="px-3 px-md-5">You are about to approve the project. To do so, please provide the SO number.</p>
        </div>
        
        <div class="form-group">
          <label for="cancelProposal_remarks">
            <span>SO number</span>
            <span class="text-danger">*</span>
          </label>
          <input 
            type="text" 
            class="form-control" 
            id="approveProject_soNumber"
            name="SO_number"
            placeholder="Enter the SO number"
          />
        </div>

      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-negative" 
          data-dismiss="modal"
        >Cancel</button>
        <button 
          type="submit" 
          class="btn btn-primary" 
          id="confirmApproveTheProject_btn"
        >Submit and approve</button>
      </div>
    </form>
  </div>
</div>