<%# Confirm Approve the Project Modal %>
<div class="modal fade" id="confirmApproveTheProject_modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <form class="modal-content" id="approveProject_form">
      <div class="modal-header">
        <h4 class="modal-title">Approve the project</h4>
        <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">

        <div class="text-center">
          <h1 class="mr-3 display-4">
            <i class="fas fa-exclamation-circle text-info"></i>
          </h1>
          <p class="px-3 px-md-5">You are about to approve the project. To do so, please provide the following information.</p>
        </div>
        
        <%# Date of Endorsement for Funding %>
        <div class="form-group">
          <label for="approveProject_fundingApprovalDate">
            <span>Date of Endorsement for Funding</span>
            <%# <span class="text-danger">*</span> %>
          </label>
          <div class="input-group date">
            <input 
              type="text" 
              class="form-control" 
              id="approveProject_fundingApprovalDate" 
              name="funding_approval_date"
              placeholder="Please select the date of endorsement for funding" 
              data-inputmask-alias="datetime"
              data-inputmask-inputformat="yyyy-mm-dd" 
              data-mask 
            />
            <div class="input-group-append">
              <button 
                type="button" 
                class="btn btn-primary" 
                id="approveProject_fundingApprovalDate_pickerBtn"
                data-toggle="tooltip" 
                title="Select the date of endorsement"
              >
                <i class="fa fa-calendar-day fa-fw"></i>
              </button>
            </div>
          </div>
        </div>

        <%# SO number %>
        <div class="form-group">
          <label for="approveProject_soNumber">
            <span>Special Order (SO) Number</span>
            <span class="text-danger">*</span>
          </label>
          <input 
            type="text" 
            class="form-control" 
            id="approveProject_soNumber"
            name="SO_number"
            placeholder="Enter the SO number"
          />
        </div>

        <%# Release Date of Special Order %>
        <div class="form-group">
          <label for="approveProject_SOReleaseDate">
            <span>Release Date of Special Order</span>
            <%# <span class="text-danger">*</span> %>
          </label>
          <div id="approveProject_SOReleaseDate_display">
            <span class="font-italic text-muted">No date has been set.</span>
          </div>
          <%# <div class="input-group date">
            <input 
              type="text" 
              class="form-control" 
              id="approveProject_SOReleaseDate" 
              name="SO_release_date"
              placeholder="Please select the release date of special order" 
              data-inputmask-alias="datetime"
              data-inputmask-inputformat="yyyy-mm-dd" 
              data-mask 
            />
            <div class="input-group-append">
              <button 
                type="button" 
                class="btn btn-primary" 
                id="approveProject_SOReleaseDate_pickerBtn"
                data-toggle="tooltip" 
                title="Select the release date of special order"
              >
                <i class="fa fa-calendar-day fa-fw"></i>
              </button>
            </div>
          </div> %>
        </div>

        <%# Release Date of Cash Advance %>
        <div class="form-group">
          <label for="approveProject_cashReleaseDate">
            <span>Release Date of Cash Advance</span>
            <%# <span class="text-danger">*</span> %>
          </label>
          <div class="input-group date">
            <input 
              type="text" 
              class="form-control" 
              id="approveProject_cashReleaseDate" 
              name="cash_release_date"
              placeholder="Please select the release date of special order" 
              data-inputmask-alias="datetime"
              data-inputmask-inputformat="yyyy-mm-dd" 
              data-mask 
            />
            <div class="input-group-append">
              <button 
                type="button" 
                class="btn btn-primary" 
                id="approveProject_cashReleaseDate_pickerBtn"
                data-toggle="tooltip" 
                title="Select the release date of special order"
              >
                <i class="fa fa-calendar-day fa-fw"></i>
              </button>
            </div>
          </div>
        </div>

        <%# Release Date of Notice to Proceed %>
        <div class="form-group">
          <label for="approveProject_noticeReleaseDate">
            <span>Release Date of Notice to Proceed</span>
            <%# <span class="text-danger">*</span> %>
          </label>
          <div class="input-group date">
            <input 
              type="text" 
              class="form-control" 
              id="approveProject_noticeReleaseDate" 
              name="notice_release_date"
              placeholder="Please select the release date of special order" 
              data-inputmask-alias="datetime"
              data-inputmask-inputformat="yyyy-mm-dd" 
              data-mask 
            />
            <div class="input-group-append">
              <button 
                type="button" 
                class="btn btn-primary" 
                id="approveProject_noticeReleaseDate_pickerBtn"
                data-toggle="tooltip" 
                title="Select the release date of special order"
              >
                <i class="fa fa-calendar-day fa-fw"></i>
              </button>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-negative" 
          data-dismiss="modal"
        >Cancel</button>
        <button 
          type="submit" 
          class="btn btn-primary" 
          id="confirmApproveTheProject_btn"
        >Submit and approve</button>
      </div>
    </form>
  </div>
</div>

