<%# Confirm Approve the Project Modal %>
<div class="modal" id="confirmRequestForRevision_modal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          <h1 class="mr-3 display-4">
            <i class="fas fa-exclamation-circle text-info"></i>
          </h1>
          <div>
            <div>Are you sure you want to send a request for project revision?</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-negative" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="confirmRequestForRevision_btn">Yes, please!</button>
      </div>
    </div>
  </div>
</div>