<%# Submit Activity Evaluation Modal %>
<div class="modal fade" data-backdrop="static" id="submitActivityEvaluation_modal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <form class="modal-content" id="activityEvaluation_form">
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="fas fa-list fa-fw mr-1"></i>
          <span>Submit Activity Evaluation</span>
        </h4>
        <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">

        <input type="hidden" name="activity_id" id="activityEvaluation_activityId">
        
        <div class="table-responsive">
          <table class="table table-bordered" id="activityEvaluation_form">
            <thead>
              <th class="align-middle" style="width: 80%">Criteria</th>
              <th class="align-middle" style="width: 15%">Ave. Rate</th>
              <th style="width: 5%"></th>
            </thead>
            <tbody></tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-negative" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="activityEvaluation_submitBtn">Submit</button>
      </div>
    </form>
  </div>
</div>