<div class="modal" id="deactivateBudgetItemCategory_modal">
  <div class="modal-dialog modal-dialog-centered">
    <form class="modal-content" id="deactivateBudgetItemCategory_form">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="btn btn-sm btn-negative" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body">

        <input type="hidden" id="deactivateBudgetItemCategory_id" name="id">

        <div class="d-flex">
          <h1 class="mr-3 display-4">
            <i class="fas fa-exclamation-circle text-info"></i>
          </h1>
          <div class="pb-3">
            <div class="font-weight-bold mb-2">Deactivate Budget Item Category</div>
            <div>Are you sure you want to deactivate this budget item category?</div>
            <p class="font-weight-bold" id="deactivateBudgetItemCategory_category"></p>
            <div>You can still reactivate them later.</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn btn-negative" 
          data-dismiss="modal"
          id="deactivateBudgetItemCategory_cancelBtn"
        >Cancel</button>
        <button 
          type="submit" 
          class="btn btn-primary" 
          data-cooperating-agency-btn="addLater"
          id="deactivateBudgetItemCategory_submitBtn"
        >Deactivate</button>
      </div>
    </form>
  </div>
</div>