<%# ***** Body ***** %>

<div class="login-box">
  <div class="login-card-body">
    <div class="text-center mb-4">
      <h3>Update your password</h3>
      <div>Please update your password before you proceed.</div>
    </div>

    <form id="forgotPassword_form">

      <%# Password %>
      <div class="form-group">
        <label for="loginForm_email">
          <span>Your password</span>
          <span class="text-danger">*</span>
        </label>
        <div class="input-group">
          <input 
            type="email" 
            class="form-control" 
            id="forgotPassword_email" 
            name="email" 
            placeholder="Insert your email here"
            autocomplete="false"
          >
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
      </div>

      <%# Confirm Password %>
      <div class="form-group">
        <label for="loginForm_email">
          <span>Retype password to confirm</span>
          <span class="text-danger">*</span>
        </label>
        <div class="input-group">
          <input 
            type="email" 
            class="form-control" 
            id="forgotPassword_email" 
            name="email" 
            placeholder="Insert your email here"
            autocomplete="false"
          >
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
      </div>

      <%# Remember Me & Submit button %>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block" id="forgotPassword_submitBtn">
            <span>Save my password</span>
            <i class="fas fa-sign-in-alt ml-1"></i>
          </button>
        </div>
      </div>

      <%# Back to login %>
      <div class="form-group mt-3 text-center">
        <button type="button" data-auth="logout">Logout instead</button>
      </div>

    </form>
  </div>
</div>


<div class="modal user-select-none" data-backdrop="static" id="emailSent_modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body py-5">
        <div class="text-center">
          <h1 class="display-3">
            <i class="fas fa-check-circle text-success"></i>
          </h1>
          <div class="px-3 px-md-5">
            <h3>Success!</h3>
            <div>We sent you a confirmation link. Please check your email and follow the instructions.</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          data-dismiss="modal"
          class="btn btn-primary" 
        >Got it!</button>
      </div>
    </div>
  </div>
</div>


<%# ***** Script ***** %>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/auth/change_password.js"></script>

<script src="<%=BASE_URL%>/js/auth/user.js"></script>