<%# ***** Body ***** %>

<div class="login-box">
  <div class="login-logo">
    <img src="<%=BASE_URL%>/img/PUPLogo.png" alt="PUP Logo" style="width: 5rem;" draggable="false">
    <div>PUPQC-EPMS</div>
  </div>
  <div class="login-card-body">
    <p class="font-weight-bold text-center">Did you forgot your password?</p>

    <form id="forgotPassword_form">

      <%# Email %>
      <div class="form-group">
        <label for="loginForm_email">
          <span>Email</span>
          <span class="text-danger">*</span>
        </label>
        <div class="input-group">
          <input 
            type="email" 
            class="form-control" 
            id="forgotPassword_email" 
            name="email" 
            placeholder="Insert your email here"
            autocomplete="false"
          >
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
      </div>

      <%# Remember Me & Submit button %>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block" id="loginForm_submitBtn">
            <span>Send</span>
            <i class="fas fa-sign-in-alt ml-1"></i>
          </button>
        </div>
      </div>

      <%# Back to login %>
      <div class="form-group mt-3 text-center">
        <a href="<%=BASE_URL%>/login">Go back to login</a>
      </div>

    </form>
  </div>
</div>


<%# ***** Script ***** %>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/auth/login.js"></script>