<%# ***** Body ***** %>

<div class="login-box">
  <div class="login-logo mb-0">
    <img src="<%=BASE_URL%>/img/PUPLogo.png" alt="PUP Logo" style="width: 5rem;" draggable="false">
    <div>PUPQC-EPMS</div>
  </div>
  <div class="login-card-body">
    <h5 class="text-center mb-4">Log in to start your session</h5>

    <form id="login_form">

      <%# Email %>
      <div class="form-group">
        <label for="loginForm_email">
          <span>Email</span>
          <span class="text-danger">*</span>
        </label>
        <div class="input-group">
          <input 
            type="email" 
            class="form-control" 
            id="loginForm_email" 
            name="email" 
            placeholder="Insert your email here"
            autocomplete="false"
          >
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
      </div>

      <%# Password %>
      <div class="form-group">
        <label for="loginForm_password">
          <span>Password</span>
          <span class="text-danger">*</span>
        </label>
        <div class="input-group">
          <input 
            type="password" 
            class="form-control" 
            id="loginForm_password" 
            name="password"
            placeholder="Insert your password here" 
            autocomplete="false"
          >
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
      </div>

      <%# Remember Me & Submit button %>
      <div class="row">
        <div class="col-8">
          <div class="icheck-primary">
            <input type="checkbox" id="loginForm_rememberMe">
            <label for="loginForm_rememberMe">Remember Me</label>
          </div>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-block" id="loginForm_submitBtn">
            <span>Log in</span>
            <i class="fas fa-sign-in-alt ml-1"></i>
          </button>
        </div>
      </div>

      <%# Forgot Password %>
      <div class="form-group mt-3 text-center">
        <a href="<%=BASE_URL%>/forgot-password">I forgot my password</a>
      </div>

    </form>
  </div>
</div>


<%# ***** Script ***** %>

<%# Main %> 
<script src="<%=BASE_URL%>/js/main.js"></script>
<script src="<%=BASE_URL%>/js/auth/login.js"></script>