<div class="login-box">
    <div class="login-logo">
        <img src="./img/PUPLogo.png" alt="PUP Logo" style="width: 5rem;" draggable="false">
        <div href="../../index2.html">PUPQC-EPMS</div>
    </div>
    <div class="login-card-body">
        <p class="login-box-msg">Log in to start your session</p>

        <form id="login_form" method="post">

            <%# Email %>
            <div class="form-group">
                <label for="login_email">
                    <span>Email</span>
                    <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                    <input 
                        type="email" 
                        class="form-control" 
                        id="login_email" 
                        name="email"
                        placeholder="Insert your email here"
                        autocomplete="false"
                    >
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
            </div>

            <%# Password %>
            <div class="form-group">
                <div class="d-flex justify-content-between align-items-start">
                    <label for="login_password">
                        <span>Password</span>
                        <span class="text-danger">*</span>
                    </label>
                    <a href="forgot-password.html">I forgot my password</a>
                </div>
                <div class="input-group">
                    <input 
                        type="password" 
                        class="form-control"
                        id="login_password" 
                        name="password"
                        placeholder="Insert your password here"
                        autocomplete="false"
                    >
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
            </div>

            <%# Remember Me %>
            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember">
                        <label for="remember">Remember Me</label>
                    </div>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">
                        <span>Log in</span>
                        <i class="fas fa-sign-in-alt ml-1"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<%# Script %>
<script src="./js/auth/login.js"></script>